/* Colors */
/* -- primary */
$lightCyan: #cee3e9;
$neonGreen: #52ffa8;

/* -- neutral */
$grayishBlue: #323a49;
$darkGrayishBlue: #202632;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

p, a, div {
    color: $lightCyan;
}

body {
    height: calc(100vh - 1rem);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: $darkGrayishBlue;

    main {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding: 3em;
        border-radius: 16px;
        background-color: $grayishBlue;

        @media screen and (min-width: 1400px) {
            max-width: 33%;
        }

        @media screen and (min-width: 850px) {
            max-width: 60%;
        }

        @media screen and (max-width: 850px) {
            max-width: 80%;
        }

        @media screen and (max-width: 350px) {
            max-width: 90%;
            padding: 6px;
        }

        .advice-title {
            margin-bottom: 2rem;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: $neonGreen;
        }

        #advice-text {
            margin-bottom: 2rem;
            font-size: 28px;
            text-align: center;
        }

        .divider {
            margin-bottom: 1em;

            @media screen and (max-width: 500px) {
                display: none;
            }
        }

        #show-new-advice {
            position: absolute;
            bottom: -30px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: $neonGreen;
            cursor: pointer;
            transition: all 300ms ease;

            &:hover {
                box-shadow: 0px 0px 25px 8px rgba(82, 255, 168, 0.5);
            }
            
            &:active {
                transform: scale(110%);
            }
        }
    }

    .attribution {
        position: absolute;
        bottom: 1em;
        font-size: 11px;
        text-align: center;
        color: $lightCyan;

        a {
            color: #3e52a3;
        }
    }
}